*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive sans-serif;
}

body{
    height: 100vh;
    background-image: https://www.istockphoto.com/photo/hiker-stands-at-the-old-off-road-vehicle-at-the-road-in-the-misty-wood-gm1515664133-524220545;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
}

#main-header{
    border-radius: 5px;
}
header-title{
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 4px 4px 4px #00008B;
}
.container{
    width: 50%;
    margin-top: 7em;
}