*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive sans-serif ;
}
body{
    height:100vh;
    background-image: url("https://wallpapercave.com/wp/O1J2pMf.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    overflow: scroll;
}
#main-header{
    border-radius: 5px;
}
#header-title{
    font-size: 5rem;
    font-weight: 100;
    text-shadow: 4px 4px 4px #080808;
    color: #f5f0f0;
}
.container{
    width:70%;
    margin-top: 2em;
}
@media screen and (max-width: 800px) {
    .container{
        width:70%;
    }
  }
@media screen and (max-width: 650px) {
    .container{
        width:80%;
    }
  }
@media screen and (max-width: 500px) {
    .container{
        width:99%;
        margin-top: 5em;
    }
  }

.item{
    display: flex;
    flex-direction: row;
    padding: 2rem ;
    border-bottom:4px solid rgb(12, 63, 21) ;
}

.content{
    display:1 1 0%;
    width:90%;
}
.item .content .text {
	font-size: 2rem;
	width: 100%;
    border-color: transparent;
}
.item .content .text:hover {
    cursor:context-menu;
}
.item .actions {
	display: flex;
}
.item .actions button {
	margin-left: 2rem;
	font-weight: 700;
    font-size:0.9rem;
    padding:2px 6px;
}