*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive sans-serif ;
}
body{
    height:100vh;
    background-image: url("images/purplecircles.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
}
#main-header{
    border-radius: 5px;
}
#header-title{
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px #030202;
}
.container{
    width:50%;
    margin-top: 7em;
}
@media screen and (max-width: 800px) {
    .container{
        width:70%;
    }
  }
@media screen and (max-width: 650px) {
    .container{
        width:80%;
    }
  }
@media screen and (max-width: 500px) {
    .container{
        width:99%;
        margin-top: 5em;
    }
  }

.item{
    display: flex;
    flex-direction: row;
    padding: 1rem ;
    border-bottom:4px solid rgb(77, 205, 225) ;
}

.content{
    display:1 1 0%;
    width:90%;
}
.item .content .text {
	font-size: 1.125rem;
	width: 100%;
    border-color: transparent;
}
.item .content .text:hover {
    cursor:context-menu;
}
.item .actions {
	display: flex;
}
.item .actions button {
	margin-left: 0.5rem;
	font-weight: 700;
    font-size:0.9rem;
    padding:2px 6px;
}